<div id="pageBody">
  <h1 id="error_heading">Oops - Something Has Gone Wrong</h1>
  <div class="dialog">
    <p>Sorry we don't seem to have the page your after.<br/></p>
    <br/>
    <p>Please check the URL you've entered.</p>
    <p>&nbsp;</p>
</div>
  </div>
