<div id="pageBody">
  <h1 id="error_heading">Oops - Something Has Gone Wrong</h1>
  <div class="dialog">
    <p>Sorry we seem to have hit a problem.<br/></p>
    <br/>
    <p>Please try again, failing that please email <span style="color:blue;">sysadmin@forestgladefc.co.uk</span> and we'll try to resolve the problem.</p>
    <p>&nbsp;</p>
</div>
  </div>
