<h1>How To Find Us</h1>
<div>
    <span class="bold_blue_medium">Forest Glade Football Club<br/>Barleylands Road<br/>Billericay<br/>Essex</span><br/><br/>
    <span class="bold_red">Please Note: NO DOGS ALLOWED, thank you .</span><br/><br/>
    <a href="javascript:largePopUp('http://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=CM11+2UF&sll=53.800651,-4.064941&sspn=9.456424,29.179688&ie=UTF8&hq=&hnear=Billericay+CM11+2UF,+United+Kingdom&z=15')">
        <img class="fgfc_map" src="/images/fgfc_map.png" alt="click here for google maps"/></a>
</div>
<div>
    <span class="bold_blue"><br/>From The A127</span>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td><span class="bold_blue">Southend Bound</span></td>
            <td><span class="bold_blue">London Bound</span></td>
        </tr>
        <tr>
            <td style="vertical-align:text-top;"><p>Take the exit for Basildon after the Fortune Of War roundabout.
                Signposted “Festival Leisure Park” & Barleylands Farm Museum
                <br/><br/>Take the third exit off the roundabout into South Wash Road.
            </p>
            </td>
            <td><p>Take the exit for Basildon after the Pipps Hill Retail Site.
                Signposted “Festival Leisure Park” & Barleylands Farm Museum
                <br/><br/>Take the first exit off the roundabout. Under the bridge and take the
                second exit off the roundabout into South Wash Road.
            </p>
            </td>
        </tr>
        <tr>
            <td colspan="2"><p>The club is then signposted.
                Follow the road for 400 yards and at the 2nd mini-roundabout turn left into
                Barleylands Road.
                Forest Glade Football Club is situated around 300 yards on the left, adjacent to the
                Recycling Centre
            </p>
            </td>
        </tr>
    </table>
</div>