<h1>FG5s <%= $fives_year %> Rules & Regulations</h1>
<ol>
    <li>Team Squads to consist of a maximum of ten players, for age groups U6 to U10, and eight for age groups U11 to
        U18.
    </li>
    <li>Age Groups will be as for the <%= $season %> season. League registration cards may be required as proof of
        age.
    </li>
    <li>Substitutes can be used on a roll on/roll off basis and can be made at any break in play with the permission of
        the referee.
    </li>
    <li>Any player cautioned will miss the next game.</li>
    <li>Any player sent-off will not be allowed to continue in the tournament.</li>
    <li>The Referee’s decision on the field of play is final and irreversible. Any decisions taken by the Organising
        Committee are final and irreversible.
    </li>
    <li>Normal Football rules apply with the exception of:
        <ul style="list-style-type:lower-roman;">
            <li>Goalkeepers may only kick the ball as long as it remains in the goalkeeper's own half of the pitch.
                Failure to abide by this rule will result in an indirect free kick where the ball crosses the half-way
                line.
            </li>
            <li>Goalkeepers may only throw the ball as long as it remains in the goalkeeper's own half of the pitch.
                Failure to abide by this rule will result in an indirect free kick where the ball crosses the half-way
                line.
            </li>
            <li>Any indirect free kicks will take place a minimum of 2 metres away from the goal line. In the event an
                offence has occurred closer than 2 metres to the goal line, the ball will be moved back parallel to the
                goal line.
            </li>
            <li>There will be no offside.</li>
            <li>Defending players must stand a minimum of 2 metres away from the ball at restarts.</li>
            <li>Throw-ins will be underarm and the ball must remain below knee height at all times before another player
                plays the ball.
            </li>
            <li>Games will have a duration of:
                <ul>
                    <li>League Games - 2 periods of 5 minutes each</li>
                    <li>Quarter Finals ( if required)- 2 periods of 5 minutes each</li>
                    <li>Semi Finals – 2 periods of 7 minutes each</li>
                    <li>Final – 2 periods of 7 minutes each.</li>
                </ul>
            </li>
            <li>Extra time, if required, 2 periods of 2 minutes each.</li>
            <li>In the League stages points will be awarded as follows:
                <ul>
                    <li>3 points for a win</li>
                    <li>1 point for a draw</li>
                </ul>
            </li>
            <li>League stage positions will be determined by Total Points,</li>
            <li>if equal then by:
                <ol>
                    <li>goal difference.</li>
                    <li>goals scored</li>
                    <li>the team with the least sending offs</li>
                    <li>the team with the least cautions</li>
                    <li>by penalty kicks (see rules below)</li>
                </ol>
            </li>
            <li>In the knock-out stages, if teams are level after the end of normal play, the tie will be decided by:
                <ul>
                    <li>2 periods of extra time.</li>
                    <li>if scoreless then by 5 penalty kicks per side followed by sudden death penalties.</li>
                </ul>
            </li>
            <li>Rules for penalty kicks.
                <ul>
                    <li>Initially one penalty kick per member of each team on the field of play at the end of the
                        game.
                    </li>
                    <li>Each player to take a maximum of one kick each</li>
                    <li>The order of players taking the kicks to be passed to the referee before the start of the
                        penalty kicks.
                    </li>
                    <li>The winner will be the team scoring the most after the completion of both sets.</li>
                    <li>If both teams are equal at the end of the initial set of penalties, the series will continue, in
                        the same player order as initially set, until one team has scored more than the other after an
                        equal number of penalties has been taken.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ol>