<html>
<head></head>
<body>
<div id="rules">
    <h1>FG5s <%= $fives_year %> Rules & Regulations</h1>
    <%= erb :rules_include %>
</div>
The Rules and Regulations

www.theFG5s.co.uk or www.ForestGladeFC.co.uk
</body>
</html>