
<h2>Teams and Players</h2>
<ul>
  <li>Team Squads to consist of a maximum of ten players for age groups U6 to U10,
    and eight for age groups U11 to U18.
  </li>

  <li>Squads to be named prior to the start of the tournament. No changes in squads will
    be allowed after registration, any contravention of this rule will result in the immediate
    expulsion of the team(s) involved. Any player borrowed to another team at registration
    must remain with that team and cannot go back and play for their existing team at any
    point during the event.
  </li>

  <li>Age Groups will be as for the 2015/16 season, League registration cards, Passports
    or Birth Certificates will be required as proof of age
  </li>
  <li>Substitutes can be used on a roll on/roll off basis and can be made at any break in
    play with the permission of the referee.
  </li>
  <li>Any player cautioned will serve an immediate sin-bin ban for 2 mins (playing time).
  </li>
  <li>A player can be sin-binned multiple times in one game if necessary. Two offences do
    not result in a sending off.
  </li>
  <li>Any player with an immediate sending-off will miss the remainder of the match.
  </li>
  <li>The Referee’s decision on the field of play is final and irreversible. Any decisions
    taken by the Organising Committee are final and irreversible.
  </li>
</ul>

<h2>Normal Football rules apply with the exception of:</h2>
<ul>
  <li>Goalkeepers may only kick the ball as long as it remains in the goalkeeper's own
    half of the pitch. Failure to abide by this rule will result in an indirect free kick where the
    ball crosses the half-way line.
  </li>
  <li>Goalkeepers may only throw the ball as long as it remains in the goalkeeper's own
    half of the pitch. Failure to abide by this rule will result in an indirect free kick where the
    ball crosses the half-way line.
  </li>
  <li>Any indirect free kicks will take place a minimum of 3 metres away from the goal line. In
    the event an offence has occurred closer than 3 metres to the goal line, the ball will be
    moved back parallel to the goal line.
  </li>
  <li>There will be no offside.</li>

  <li>Defending players must stand a minimum of 3 metres away from the ball at restarts.</li>

  <li>Throw-ins will be underarm and the ball must remain below knee height at all times
    before another player plays the ball.
  </li>
  <li>Games will have a duration of:
    <ul>
      <li>League Games - 2 periods of 6 minutes each</li>
      <li>Quarter Finals - 2 periods of 6 minutes each (Extra time, if required, 2
        periods of 2 minutes each)
      </li>
      <li>Semi Finals – 2 periods of 7 minutes each (Extra time, if required, 2 periods
        of 2 minutes each)
      </li>
      <li>Final – 2 periods of 7 minutes each (Extra time, if required, 2 periods of 2
        minutes each)
      </li>
    </ul>
  </li>

  <li>In the League stages points will be awarded as follows
    <ul>
      <li>3 points for a win</li>
      <li>1 point for a draw</li>

    </ul>
  </li>
  <li>League stage positions will be determined by
    <ul>
      <li>Total Points, if equal then by</li>
      <li>Goal difference, if equal then by</li>
      <li>Goals scored, if equal then by</li>
      <li>The team with the least sending offs, if equal then by</li>
      <li>The team with the least cautions, if still equal then by</li>
      <li>Penalty kicks (see rules below)</li>
    </ul>
  </li>
  <li>In the knock-out stages, if teams are level after the end of normal play, the tie will be
    decided by 2 periods of extra time, where the NO golden goal will apply. If the score
    remains level, then by 5 penalty kicks per side followed by sudden death penalties.
  </li>
  <li>Trophies will be presented to all players in Winning teams and the Runners-Up (U9
    upwards). All players in the U6-U8 age groups will receive medals.
  </li>
</ul>

<h2>Rules for penalty kicks</h2>
<ul>
  <li>Initially one penalty kick per member of each team on the field of play at the end of the
    game.
  </li>
  <li>Each player to take a maximum of one kick each.</li>
  <li>The order of players taking the kicks to be passed to the referee before the start of the
    penalty kicks
  </li>
  <li>The winner will be the team scoring the most after the completion of both sets.
  </li>
  <li>If both teams are equal at the end of the initial set of penalties, the series will continue, in
    the same player order as initially set, until one team has scored more than the other after
    an equal number of penalties has been taken.
  </li>
</ul>

<h2>Frequently Asked Questions</h2>
<div class="indent">
<p>
<strong>Is the ball allowed over head height?</strong>
</p>
  <p>
  Yes, the only restriction is with throw-ins, which must remain below knee height at all times
</p>
<p><strong>Can outfield players enter the goal area?</strong></p>

  <p>Yes, there is no restriction on players entering the goal area</p>

  <p><strong>Can the goalkeeper leave the goal area?</strong></p>

  <p>Yes, but he/she cannot kick the ball pass the half way line and therefore cannot play the ball

within the opposition half- effectively limiting the movement to the goalkeeper’s half. Heading

in this respect is also viewed as a kick.</p>

  <p><strong>Can the goalkeeper throw the ball over the half-way line?</strong></p>

  <p>Are goal kicks/corner kicks throws or kicks?
They are kicks, goal kicks can be taken from anywhere within the goal area.</p>
  <p><strong>Can anyone take Goal Kicks?</strong></p>

  <p>Yes but the ball must not pass the half way line as if the goalkeeper was taking the kick.</p>

  <p><strong>Is the goalkeeper allowed to handle the ball if one of his own players passes, by

  use of his foot, back to him?</strong></p>

  <p>No, as in normal football the keeper must play the ball with his feet.</p>

  <p><strong>Can substitutions be made at the end of the game prior to a penalty kick

  tournament?</strong></p>

<p>No, only players on the pitch at the end of extra time can participate in the penalty kicks.</p>
</div>
<h2>General Notes</h2>
<div class="indent">
  <p>
The aim of the tournament rules is to develop a fast attacking game with plenty of goalmouth

incident and goal attempts.
</p>
<p>
By allowing any player into the goal area the hope is that a normal contentious decision can

be avoided and for the younger age groups the inadvertent mistake that can cause distress.
</p>
<p>
Again, by allowing the ball over head height another contentious decision is avoided and the

frequency of stoppages is reduced.
</p>
</div>

