<h1>FG5s <%= $fives_year %> Sponsorship</h1>

<p>The tournament offers local businesses the opportunity to advertise their services whilst benefiting the local
    football community.</p>
<br/>

<p>There are a number of packages available to suit every budget.</p>

<p>They range from the:.</p>
<table>
    <tr>
        <td><b>Main Tournament Sponsorship:</b></td>
        <td>Sponsorship mentioned on front cover of programme, full page advert inside programme, company name/logo on
            website title, weblink to company website, company banner at the event.
        </td>
    </tr>
    <tr>
        <td><b> Individual Age Group Tournaments: </b></td>
        <td> Sponsorship in programme with the fixtures for that age group. Company logo/name on age group web page.
        </td>
    </tr>
    <tr>
        <td><b>Advertisements: </b></td>
        <td> These can either be half or full page adverts within the programme or at the tournament themselves.</td>
    </tr>
</table>
<br/><br/>

<p>For further information regarding sponsorship and suggested donations please email Sponsorship@forestgladefc.com</p>