<h1>Payment Cancelled</h1>
<p>As you didn't complete the payment online please send a cheque made payable to Forest Glade FC to.</p>
<br/>
<p>Lee Ashley<br/>3 Grennan Close<br/>Ingrave<br/>Brentwood<br/>Essex<br/>CM13 3YD
    <br/>
    <br/>
</p>