<h1>Thank You - Payment Confirmed</h1>
<p>Thank you for your payment, your transaction has been completed.</p>
<br/>
<p>Receipt of the payment has been emailed to you.</p>
<br/>
<p>Your team has been successfully entered into the FG5s <%= $fives_year %>.</p>
<br/>